
<!-- heroes list -->
<h2>My Heroes</h2>
<ul class="heroes">

  <!-- note: testing multiple class directives, $event, and "this". -->

  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      [class.foo]="true" [class.bar]="false" [class.baz]="true"
      (click)="onSelect(hero, $event, this)">

    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- selected hero - passing data from parent to child via property binding (one way) -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
